# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Databases and temporary files
*.db
*.db-journal
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
